
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
body{ background: #eee; max-width:80%; margin: 20px auto; }
p, h3, ul{ margin: 0; padding: 0 }
li{list-style-type: none; background: #fff;
  margin: 20px auto; padding: 10px 20px;
  border-radius: 10px; display: flex;
  align-items: center; justify-content: space-between;}
li.fav{  background:#6495ED; color: white;}
img { width: 100px; height: auto;}
</style>
</head>
<body>
<h1>올해의 책 선정</h1>
<div id="app">
<div v-if=showBook>
  <ul>
    <li v-for="book in books" :class="{ fav: book.isFav }" @click="toggleFav(book)">
      <img :src="book.img"  :alt="book.title" >
      <h3>{{book.title}}</h3>
      <p>{{ book.author}}</p></li>
  </ul>
</div>
<div v-else>
<p>아래버튼을 클릭해서 책보기</p>
</div>
<button v-on:click="toggleShowBook">
<span v-if="showBook">Hide books</span>
<span v-else>Show books</span>
</button>
</div>
 
<script>
Vue.createApp({
data(){
  return {
    showBook :true,
    books:[
      {title :'구름빵'  , author: 'J. R. R. 톨킨', img:'./img/3.jpg', isFav:true},
      {title :'알사탕' , author: "J.K. 롤링", img:'./img/2.jpg',isFav:false},
      {title : '이상한 엄마' , author: '백희나', img:'./img/1.jpg',isFav:false}
    ]
    }
},
methods :{
  toggleShowBook(){
    this.showBook = !this.showBook
  },
  toggleFav(selectedItem){
    console.log(selectedItem);
    selectedItem.isFav = !selectedItem.isFav
  }
}
}).mount('#app');
</script>
</body>
</html>

